{% extends "base.html" %}

{% block title %}Checkout - ShopFlow{% endblock %}

{% block content %}

<div class="checkout-card">

    <div class="checkout-icon">
        🎉
    </div>

    <h1>
        Order Ready!
    </h1>

    <p>
        Thank you for shopping with ShopFlow.
    </p>

    <p>
        Your checkout system is currently being
        developed as part of the next stage of
        the ShopFlow project.
    </p>

    <a href="/products" class="button">
        Continue Shopping
    </a>

</div>

{% endblock %}